{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали сертификата</title>
    <link rel="stylesheet" href="{% static 'css/info.css' %}">
</head>
<body>
    <header>
        <h1>Детали сертификата</h1>
        <nav>
            <a href="{% url 'info_view' %}">Главная</a>
            <a href="{% url 'certificates_list' %}">Список сертификатов</a>
        </nav>
    </header>
    <main>
        <div class="container">
            <h2>Сертификат: #{{ object.pk }}</h2>
            <p>ID Сертификата: {{ object.pk }}</p>
            <p>Пользователь: {{ object.user }}</p>
            <p>Тип: {{ object.type }}</p>
            <p>Статус: {{ object.status }}</p>
            <a href="{% url 'certificates_update' object.pk %}" class="btn-back">Редактировать</a>
            <a href="{% url 'certificates_delete' object.pk %}" class="btn-back">Удалить</a>
            <a href="{% url 'certificates_list' %}" class="btn-back">Назад к списку</a>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 CoralWave</p>
    </footer>
</body>
</html>
